
.estadio {
    border: 1px solid #ccc;
    padding: 12px;
    margin: 15px 0;
    border-radius: 5px;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .button-container button {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .button-container button:hover {
    background-color: #2980b9;
  }
  