.app-bar {
  background-color: #659f4e;
  display: flex;
}

.logo {
  display: flex;
  align-items: center;
}

.navbar-menu {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.menu-button {
  color: rgb(134, 71, 71);
  padding: 0; /* Reduce el área de clic */
}

header {
  background-color: #508133; /* Cambia el color de fondo del header */
  color: white; /* Cambia el color del texto dentro del header */
  padding: 10px; /* Espaciado alrededor */
  text-align: center; /* Centra el contenido */
}
