/* Estilos para el campo de juego de Argentina vs Colombia */
.field-arg-col {
  position: relative;
  background: url('../../../assets/arg_colom_match.png') no-repeat left center;
  background-size: contain;
  width: 100%;
  max-width: 1000px;
  height: auto;
  aspect-ratio: 2 / 1;
  font-family: 'Roboto', sans-serif;
  margin-left: 5%;
}


.player {
  position: absolute;
  width: 50px;
  height: 50px;
  background: none; 
  text-align: center;
  line-height: 50px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.player-number {
  font-size: 20px;
  color: rgb(20, 9, 9);
}

.tooltip {
  display: none;
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px;
  border-radius: 5px;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.player:hover .tooltip {
  display: block;
}

.player-details {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h2 {
  font-family: 'Roboto', sans-serif; 
  font-size: 1.5rem;
  font-weight: bold;
  color: #2c3e50; 
  text-align: left;
  margin: 20px 0;
  text-transform: uppercase;
  letter-spacing: 2px; 
  border-bottom: 2px solid #3498db; 
  padding-bottom: 10px;
}

.button-container {
  display: flex;
  justify-content: center; /* Centramos el botón horizontalmente */
  margin-top: 20px;
}

.button-container button {
  background-color: #3498db;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: auto; /* Ajustamos el ancho del botón automáticamente */
}

.button-container button:hover {
  background-color: #2980b9;
}
